.expense-form {
  padding: 1rem;
  border-radius: 20px;
}
.expense-form-form {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 0.5rem;
  background-color: grey;
}
.expenseform-addBtn {
  padding: 0.5 1rem;
  width: 100px;
}
.activebtn {
  display: block;
}
.activeform {
  display: none;
}
.nullform {
  display: block;
}
.nullbtn {
  display: none;
}
