.App-expenses{
    background-color:black;
    padding: 1rem;
    border-radius: 30px;
    width: 60%;
    margin: auto;
}

.app-expense-form{
    display: flex;
  
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 20px;
    margin-bottom: 10px;
   
}